<aside class="sidebar" [class.closed]="!isOpen">

  <div class="top-section">

    <div class="logo-area">

      <div class="logo">
        G
      </div>

      <span class="system-name" *ngIf="isOpen">
        GestãoPro
      </span>

    </div>

    <nav class="menu">

      <a class="menu-item" *ngFor="let item of menuItems" [routerLink]="item.link" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">

        <i [class]="'bi bi-' + item.icon"></i>

        <span *ngIf="isOpen">
          {{ item.label }}
        </span>

      </a>

    </nav>

  </div>

  <div class="logout-area">

    <div class="menu-item logout" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
      <span *ngIf="isOpen">
        Sair
      </span>
    </div>

  </div>

</aside>