<div class="details-page" *ngIf="product">
  <div class="details-card">
    <div class="details-header">
      <div class="details-title-area">
        <div>
          <h2 class="details-title">
            {{ product.name }}
          </h2>

          <p class="details-subtitle">
            ID: {{ product.id }}
          </p>
        </div>
      </div>

      <div class="details-actions">
        <button class="btn secondary-btn" (click)="goToList()">
          <i class="bi bi-arrow-left"></i>
          Voltar
        </button>

        <button class="btn primary-btn" (click)="goToEdit()">
          <i class="bi bi-pencil-square"></i>
          Editar
        </button>
      </div>
    </div>

    <div class="details-content">
      <div class="details-grid">
        <div class="details-info-card">
          <span class="details-label">
            Código
          </span>

          <div class="details-value">
            #{{ product.code }}
          </div>
        </div>

        <div class="details-info-card">
          <span class="details-label">
            Preço
          </span>

          <div class="details-value details-price">
            {{ CurrencyUtil.formatBRL(product.price) }}
          </div>
        </div>

        <div class="details-info-card">
          <span class="details-label">
            Criado em
          </span>

          <div class="details-value">
            {{ product.createdAt | date:'dd/MM/yyyy HH:mm' }}
          </div>
        </div>
      </div>

      <div class="details-description-section">
        <span class="details-label">
          Descrição
        </span>

        <p class="details-description">
          {{ product.description || '-' }}
        </p>
      </div>
    </div>
  </div>
</div>
