<div class="details-page" *ngIf="sale">
  <div class="details-card">

    <div class="details-header">
      <div class="details-title-area">
        <div>
          <h2 class="details-title">
            Venda #{{ sale.id }}
          </h2>

          <p class="details-subtitle">
            {{ sale.createdAt | date:'dd/MM/yyyy HH:mm' }}
          </p>
        </div>
      </div>

      <div class="details-actions">
        <button class="btn secondary-btn" (click)="goToList()">
          <i class="bi bi-arrow-left"></i>
          Voltar
        </button>
      </div>
    </div>

    <div class="details-content">

      <div class="details-grid">

        <div class="details-info-card">
          <span class="details-label">
            ID da venda
          </span>

          <div class="details-value">
            #{{ sale.id }}
          </div>
        </div>

        <div class="details-info-card">
          <span class="details-label">
            Data da venda
          </span>

          <div class="details-value">
            {{ sale.createdAt | date:'dd/MM/yyyy HH:mm' }}
          </div>
        </div>

        <div class="details-info-card">
          <span class="details-label">
            Valor total
          </span>

          <div class="details-value details-price">
            {{ sale.totalAmount | currency:'BRL' }}
          </div>
        </div>

        <div class="details-info-card details-full-width">
          <span class="details-label">
            Itens da venda
          </span>

          <div class="table-responsive">
            <table class="table table-hover align-middle">

              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>Valor unitário</th>
                  <th>Subtotal</th>
                </tr>
              </thead>

              <tbody>

                <tr *ngFor="let item of sale.items">

                  <td>
                    #{{ item.productId }}
                  </td>

                  <td>
                    {{ item.quantity }}
                  </td>

                  <td>
                    {{ item.unitPrice | currency:'BRL' }}
                  </td>

                  <td class="fw-semibold">
                    {{ item.subtotal | currency:'BRL' }}
                  </td>

                </tr>

              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>