<div class="container-fluid" *ngIf="customer">

  <div class="d-flex justify-content-between align-items-center mb-4">

    <div>
      <h4 class="mb-0 fw-semibold">
        {{ customer.name }}
      </h4>
    </div>

    <div class="d-flex gap-2">

      <button class="btn btn-outline-secondary" (click)="goToList()">

        <i class="bi bi-arrow-left me-2"></i>
        Voltar
      </button>

      <button class="btn btn-primary" (click)="goToEdit()">

        <i class="bi bi-pencil-square me-2"></i>
        Editar
      </button>

    </div>

  </div>

  <div class="card shadow-sm border-0">
    <div class="card-body">

      <div class="row g-4">

        <div class="col-md-6">
          <label class="label">
            ID
          </label>

          <div class="value">
            {{ customer.id }}
          </div>
        </div>

        <div class="col-md-6">
          <label class="label">
            E-mail
          </label>

          <div class="value price">
            {{ customer.email }}
          </div>
        </div>

        <div class="col-md-6">
          <label class="label">
            Telefone
          </label>

          <div class="value price">
            {{ formatPhone(customer.phone) }}
          </div>
        </div>

        <div class="col-md-6">
          <label class="label">
            Documento
          </label>

          <div class="value price">
            {{ formatDocument(customer.document) }}
          </div>
        </div>

        <div class="col-md-6">
          <label class="label">
            Data de criação
          </label>

          <div class="value">
            {{ customer.createdAt | date:'dd/MM/yyyy HH:mm' }}
          </div>
        </div>

      </div>

    </div>

  </div>

</div>