<div class="details-page">
  <div class="details-card">
    <div class="details-header">
      <div class="details-title-area">
        <div>
          <h2 class="details-title">
            {{ isEditMode
              ? 'Editar cliente'
              : 'Novo cliente' }}
          </h2>

          <p class="details-subtitle">
            {{ isEditMode
              ? 'Atualize as informações do cliente'
              : 'Preencha os dados do cliente' }}
          </p>
        </div>
      </div>

      <div class="details-actions">
        <button
          type="button"
          class="btn secondary-btn"
          (click)="goToList()">

          <i class="bi bi-arrow-left"></i>
          Voltar
        </button>
      </div>
    </div>

    <div class="details-content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-grid">
          <div class="form-group">
            <label class="custom-label required">
              Nome
            </label>

            <input
              type="text"
              class="form-control custom-input"
              formControlName="name"
              [class.is-invalid]="isInvalidAndTouched('name')">
            <div
              class="custom-error"
              *ngIf="isInvalidAndTouched('name')">

              <span *ngIf="form.get('name')?.errors?.['required']">
                Campo obrigatório
              </span>

              <span *ngIf="form.get('name')?.errors?.['maxlength']">
                O campo deve ter no máximo 100 caracteres
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="custom-label required">
              E-mail
            </label>

            <input
              type="email"
              class="form-control custom-input"
              formControlName="email"
              [class.is-invalid]="isInvalidAndTouched('email')">

            <div
              class="custom-error"
              *ngIf="isInvalidAndTouched('email')">

              <span *ngIf="form.get('email')?.errors?.['required']">
                Campo obrigatório
              </span>

              <span *ngIf="form.get('email')?.errors?.['email']">
                E-mail inválido
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="custom-label">
              Telefone
            </label>

            <input
              type="text"
              class="form-control custom-input"
              formControlName="phone"
              mask="(00) 00000-0000"
              [dropSpecialCharacters]="true"
              placeholder="(19) 99999-9999"
              [class.is-invalid]="isInvalidAndTouched('phone')">

            <div
              class="custom-error"
              *ngIf="isInvalidAndTouched('phone')">
              Telefone inválido
            </div>
          </div>

          <div class="form-group">
            <label class="custom-label">
              Documento
            </label>

            <input
              type="text"
              class="form-control custom-input"
              formControlName="document"
              mask="000.000.000-00||00.000.000/0000-00"
              placeholder="CPF ou CNPJ"
              [class.is-invalid]="isInvalidAndTouched('document')">

            <div
              class="custom-error"
              *ngIf="isInvalidAndTouched('document')">

              <span *ngIf="form.get('document')?.errors?.['invalidDocument']">
                CPF ou CNPJ inválido
              </span>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button
            type="button"
            class="btn secondary-btn"
            (click)="goToList()">

            <i class="bi bi-x-lg"></i>
            Cancelar
          </button>

          <button
            type="submit"
            class="btn primary-btn"
            [disabled]="form.invalid || loading">
            <i class="bi bi-check-lg"></i>

            {{ isEditMode
              ? 'Salvar alterações'
              : 'Criar cliente' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>